* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    color: var(--color1);
}

:root {
    --color1: rgb(83, 81, 93);
    --color2: rgb(147, 179, 176);
}

/* HEADER STYLE START */
header {
    padding: 20px 35px;
    background-color: var(--color2);
}

header h1 {
    font-weight: bold; 
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: underline;
    color: white;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    margin: 0 30px;
}

/* HERO STYLE */

.heroimage{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/heroimage.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.herotext {   
    text-align: right;
    color: white;
    background-color: var(--color1);
    position: absolute; 
    bottom: 8px;
    right: 16px;
    padding: 10px;
}

/* ABOUT ME STYLE*/

#about-me, #work, #contact-me {
    display: flex;
}

.about-me-column, .work-column {
    flex: 50%;
}

/* MAIN CONTENT STYLE */

.main-text {
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    border-right: 5px solid var(--color1);
    padding: 20px 20px 20px 80px;
    margin: 10px 0;
}

.about-me-text {
    padding: 20px 20px 20px 40px;
}

/* FOOTER STYLE */

footer a {
    text-decoration: underline;
    color: var(--color1);
}

footer nav {
    float: right;
    margin: 60px 0;
    width: 100%;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    padding: 20px 20px 20px 40px;
    font-weight: lighter;
    font-size: 1.2vw;
    margin: 10px 30px;
    justify-content: center;
}

