* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    color: var(--color1);
}

:root {
    --color1: rgb(83, 81, 93);
    --color2: rgb(147, 179, 176);
    --color3: rgb(253, 230, 224);
}

/* Header Section  */
header {
    padding: 20px 35px;
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold; 
    font-size: 26px;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header a {
    text-decoration: underline;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.4vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
    background: var(--color3);
    color: var(--color1);
    border-radius: 15px;
    text-shadow: none;
}

/* Hero Section  */

.heroimage{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/heroimage.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.heroimage img {
    height: 300px;
    margin-left: 30px;
    border-radius: 15px;
}
.herotext {   
    text-align: right;
    color: white;
    margin: 3.5%;
    width: 35%;
    line-height: 1.2;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.herotext h2 {
    font-style: italic;
    font-size: 30px;
    color: var(--color1);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* MAIN CONTENT CONTAINER STYLE */

article {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.main-header {
    width: 100%;
    text-align: right;
    margin-right: 50px;
}

.left-section {
    position: relative;
    width: 20%;
    height: 200px;
    display: inline-flex;
    justify-content: flex-start;
    overflow: hidden;
}

.right-section {
    position: relative;
    width: 80%;
    display: inline-flex;
    justify-content: flex-start;
    border-left: 3px solid var(--color1);
    overflow: hidden; /*maybe change*/
    padding: 30px;
}

.right-section:nth-child(odd) {
    border-right: 3px solid var(--color1);
    border-left: 0;
}

/* Work Project Section */

.work-image {
    width: 100%;
    position: relative;
}

.work-image img {
    width: 100px;
    height: 200px;
    object-fit: cover;
}

.work-projects {
    display: flex; 
    flex-wrap: wrap;
    height: 600px;
}

.work-project-title {
    position: absolute;
    top: 40px;
    left: 120px;
    background: var(--color2);
    width: 200px;
    z-index: 9999;
    padding: 10px;
}

.work-project-subtitle p {
    padding: 10px;
}

.article-spacer {
    width: 100%;
    height: 40px;
}

/* Contact Me Section */

.contact-text li {
    list-style-type: none;
    display: inline-flex;
}

.contact-text a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 26px;
    margin: 0 30px;
    color: var(--color1);
}
.contact-text {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 26px;
}

/* Media Query */

/* for Tablets screens and smaller */
@media screen and (max-width: 768px) {
    .herotext h2 {
        font-size: 20px;
    }
    .herotext img {
        height: 250px;
    }
}

@media screen and (max-width: 575px) {
   
     /* header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }

    .heroimage {
        width: 100%;
    }
   
    .about-me-section, .work-section, .contact-me-section{
       display:flex;
   }

   .about-me-section-left, .work-section-left, .contact-me-section-left {
       width: 25%;
       border-right: 3px solid var(--color1);
       position: relative;    
   }

   .main-header {
       text-align: right;
      
   }

   .about-me-section-right, .work-section-right, .contact-me-section-right {
    padding: 10px;
}
.contact-me-section-right nav ul li  {
    display: inline;
    
} */
   
    
}