* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    color: var(--color1);
}

:root {
    --color1: rgb(83, 81, 93);
    --color2: rgb(147, 179, 176);
}

/* HEADER STYLE START */
header {
    padding: 20px 35px;
    background-color: var(--color2);
}

header h1 {
    font-weight: bold; 
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: underline;
    color: white;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    margin: 0 30px;
}

/* HERO STYLE */

.heroimage{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/heroimage.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.herotext {   
    text-align: right;
    color: white;
    background-color: var(--color1);
    position: absolute; 
    bottom: 8px;
    right: 16px;
    padding: 10px;
    opacity: .95;
}

/* MAIN CONTENT CONTAINER STYLE */

.main-content {
    padding: 2%;
    margin: 10px;
}

.main-header {
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 20px 10px;
    width: 50%;
}

.about-me-section {
    background-color: lightpink;
    margin-bottom: 20px;
}

.work-section {
    background-color: lightcoral;
    margin-bottom: 20px;
}

.contact-me-section {
    background-color: lightblue;
    margin-bottom: 20px;
}

.about-me-section-right {
    text-align: center;
    padding: 10px;
}
.work-section-right {
    text-align: center;
    padding-bottom: 10px;
}

.work-project1 {
    background-image: url(./images/Horiseon.png);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.work-project2 {
    background-image: url(./images/Run\ Buddy.png);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.work-project3 {
    background-image: url(./images/heroimage.jpeg);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.work-project-title1, .work-project-title2, .work-project-title3 {
    background-color: var(--color2);
    color: white;
    font-size: 20px;
    position: absolute;
    padding: 10px;
    z-index: 999;
}

.work-project-subtitle1, .work-project-subtitle2, .work-project-subtitle3 {
    background-color: var(--color2);
    color: white;
    font-size: 15px;
    position: absolute;
    padding: 10px;
    z-index: 999;
}

.work-project-subtitle1 {
    bottom: 10px;
    right: 20px;
}

.work-project-subtitle2 {
    bottom: 10px;
    right: 20px;
}

.work-project-subtitle3 {
    bottom: 10px;
    right: 20px;
}

.contact-me-section-right {
    text-align: center;
    padding-bottom: 10px;
}
.contact-me-section-right nav ul li  {
    list-style-type: none;
    display: inline;
}



/* MEDIA QUERY */

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 575px) {
   
     header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }

    .heroimage {
        width: 100%;
    }
   
    .about-me-section, .work-section, .contact-me-section{
       display:flex;
   }

   .about-me-section-left, .work-section-left, .contact-me-section-left {
       width: 25%;
       border-right: 3px solid var(--color1);
   }

   .main-header {
       text-align: right;
      
   }

   .about-me-section-right, .work-section-right, .contact-me-section-right {
    padding: 10px;
}
.contact-me-section-right nav ul li  {
    display: inline;
    
}
   
    
}